nav{
    width: 100%;
    height: 10vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    border-bottom: 1px solid rgba(45, 49, 51, 0.20);
    /* z-index: -1; */
    /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}
/* .nav.active{
    background-color: #141414;
    height: 10vh;
    color: #fff;
} */
.Navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavCollection{
    display: flex; 
    align-items: center;
}
.logohead{
    width: 321.16px;
    height: 41.25px;
}
.logohead img{
    width: 100%;
    height: 100%;
}
.languagelogo{
    width: 23px;
    height: 28px;
    padding-left: 30px;
    /* border: 1px solid red; */
}
.ytfghv{
    width: 20px;
    height: 20px;
    padding-right: 15px;
    /* margin-left: -10px; */
}
.ytfghv img{
  width: 100%;
  height: 100%;
}
.dropn{
    border: 1px solid #2D3133;
    width: 14.1%;
    border-radius: 9px;
    height: auto;
    background-color: #fff;
    /* overflow: scroll; */
    position: absolute;
    right: 100px;
    top: 100px;
    /* text-align: center; */
}
.lank{
    color: #141414;
    /* color: #2D3133; */
font-family: Regular;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 21px; 
    /* display: flex; */
    padding: 16px;
    border: 1px solid #141414;
}
#jipo{
    padding-left:15px;
}
.cgfhfv{
    display: flex;
}
.cghvj{
    padding-top: 20px;
    cursor: pointer;
}
.cghvj:hover{
    text-decoration: underline;
    color: #0A71FE;
}
.cgfhfvwegd{
    display: flex;
}
.lank:hover{
    background-color: #2D3133;
    color: white;
}
.finghgvh{
    display: none;
}

.languagelogo img{
    width: 100%;
    height: 100%;
}
.connect{
    width: 189px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2D3133;
    margin-left: 30px;
}
.connectTwo{
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    color: #fff;
    /* color: #2D3133; */
font-family: Regular;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 21px; 
}
.connectTwo:hover{
    border: 3px solid #686b6d;
    background-color: #fff;
    color: #2D3133
}
.connect:hover{
    border: 3px solid #686b6d;
    background-color: #35383a;
    color: #ffff;
}
.pages{
    padding-left: 35px;
    color: #2D3133;
    font-family: Regular;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}
.froppnav{
    text-decoration: underline;
    padding-left: 35px;
    color: #0A71FE;
    font-family: Regular;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}
.pages:hover{
    color: #0A71FE;
}
.hamburger{
    display: none;
}
.linehead{
    padding-left: 30px;
  
}
.lineinter{
    width: 1px;
height: 50px;
background: rgba(45, 49, 51, 0.20);
}
.lineinterTwo{
    /* margin-top: 30px; */
    width: 1px;
height: 50px;
background:white;
/* padding-top: 30px; */
}
.lineheadTwo{
    display: none;
}
.Menutwo{
    position: absolute;
    left: -100vh;
}
.Menu{
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: #1a1a1a;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    justify-content: center;
    animation-name: menuiteam;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes menuiteam {
    0%{
        transform: translateX(800px);
    }
    100%{
        transform: translateX(0);
    }
}

.pagesTwo{
    margin-top: 35px;
    /* padding-left: 35px; */
    color: #fff;
    font-family: Regular;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}
.Menucolle{
    margin-top: 80px;
}
.MenuHeade{
    width: 90%;
    /* border: 1px solid yellow; */
}
.MenuInnter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.menulogo{
    width: 222px;
height: 33.514px;
}
.menulogo img{
    width: 100%;
    height: 100%;
}
.MenuIteam{
    display: flex;
    align-items: center;
}
@media (max-width:1350px) {
    .dropn{
        border: 1px solid #2D3133;
        width: 20%;
        border-radius: 9px;
        height: auto;
        background-color: #fff;
        /* overflow: scroll; */
        position: absolute;
        right: 65px;
        top: 130px;
    }
}
@media (max-width:1208px) {
    .dropn{
        border: 1px solid #2D3133;
        width: 40%;
        border-radius: 9px;
        height: auto;
        background-color: #fff;
        /* overflow: scroll; */
        position: absolute;
        right: 30px;
        top: 130px;
    }
    .pages{
      display: none;
    }  
    .lineheadTwo{
        display: block;
        padding-left: 20px;
    }
    .connect{
        display: none;
    }
    .linehead{
        display: none;
    }
    .hamburger{
        display: block;
        padding-left: 20px;
    }
}
@media (max-width:600px) {
    .dropn{
        border: 1px solid #2D3133;
        width: 70%;
        border-radius: 9px;
        height: auto;
        background-color: #fff;
        /* overflow: scroll; */
        position: absolute;
        right: 25px;
        top: 130px;
    }
    .logohead{
        width: 222px;
        height: 28.514px;
    }
}
@media (max-width:400px) {
    .logohead{
        width: 180px;
        height: 28.514px;

    }
}